#*
 * Copyright 2012 LinkedIn Corp.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#

<!DOCTYPE html>
<html lang="en">
  <head>

#parse("azkaban/webapp/servlet/velocity/style.vm")
#parse("azkaban/webapp/servlet/velocity/javascript.vm")

    <script type="text/javascript" src="${context}/js/raphael.min.js"></script>
    <script type="text/javascript" src="${context}/js/morris.min.js"></script>
    <script type="text/javascript" src="${context}/js/azkaban/util/date.js"></script>
    <script type="text/javascript" src="${context}/js/azkaban/view/time-graph.js"></script>
    <script type="text/javascript" src="${context}/js/azkaban/view/job-history.js"></script>
    <script type="text/javascript">

    </script>
    <link rel="stylesheet" type="text/css" href="${context}/css/morris.css" />
  </head>

#parse ("azkaban/webapp/servlet/velocity/nav.vm")

#if ($errorMsg)
  #parse ("azkaban/webapp/servlet/velocity/errormsg.vm")
#else

    <div class="az-page-header">
      <div class="container-full">
        <div class="row">
          <div class="header-title">
            <h1><a href="/index">UserManager</a></h1>
          </div>
          <div class="header-control">

          </div>
        </div>
      </div>
    </div>

    <div class="container-full">
          <div class="alert alert-dismissable alert-messaging" id="messaging">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <p id="messaging-message"></p>
          </div>


          <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
              <ul class="nav nav-pills nav-stacked">
                <li
                    #if ($userList)
                        class="active"
                    #end
                ><a href="/usermanager">Users</a></li>
                <li
                    #if ($groupList)
                        class="active"
                    #end
                ><a href="/usermanager?groups">Groups</a></li>
                <li
                    #if ($roleList)
                        class="active"
                    #end
                ><a href="/usermanager?roles">Roles</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-9 col-content">
              #if ($userList)
                <table id="executingJobs"
                          class="table table-striped table-bordered table-hover table-condensed executions-table">
                     <thead>
                     <tr>
                    <th>#</th>
                       <th>UserName</th>
                       <th>Email</th>
                     </tr>
                     </thead>
                     <tbody>
                       #if (!$userList.isEmpty())
                         #foreach ($user in $userList)
                         <tr>
                           <td class="tb-name">
                             $velocityCount
                           </td>
                           <td class="tb-name">
                             <a href="${context}/usermanager?username=${user.userId}">
                                    $user.userId
                             </a>
                           </td>
                           <td class="tb-name">
                             $!user.email
                           </td>
                         </tr>
                         #end
                       #else
                       <tr>
                         <td class="last" colspan="9">No Users Found</td>
                       </tr>
                       #end
                     </tbody>
                   </table>
              #end

              #if ($groupList)
                    <table id="executingJobs"
                           class="table table-striped table-bordered table-hover table-condensed executions-table">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>GropName</th>
                      </tr>
                      </thead>
                      <tbody>
                        #if (!$groupList.isEmpty())
                          #foreach ($group in $groupList)
                          <tr>
                            <td class="tb-name">
                              $velocityCount
                            </td>
                            <td class="tb-name">
                              <a href="${context}/groupmanager?groupname=${group}">${group}</a>
                            </td>
                          </tr>
                          #end
                        #else
                        <tr>
                          <td class="last" colspan="9">No groups Found</td>
                        </tr>
                        #end
                      </tbody>
                    </table>
              #end
            </div>
          </div>

    <div>

#end
  </body>
</html>
